<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue exercices</title>
  </head>
  <style>
    body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: #888;
    }
    .strikeout {
      text-decoration: line-through;
    }
    .priority {
      color: aqua;
    }
  </style>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button
          v-if="state === 'default'"
          class="btn btn-primary"
          @click="changeState('edit')"
        >
          Add Item
        </button>
        <button v-else class="btn btn-primary" @click="changeState('default')">
          Cancel
        </button>
        <!-- header that works if its null or empty -->
        <!-- <h1>{{ header ? header: 'welcome' }}</h1> -->
        <!-- input to change the header content -->
        <!-- <input type="text" v-model="header" /> -->
      </div>
      <div v-if="state === 'edit'" class="add-item-form">
        <input
          type="text"
          v-model="newItem"
          placeholder="Add an item"
          @keyup.enter="saveItem"
        />
        <p>{{ characterCount }}/200</p>
        <button
          class="btn btn-primary"
          v-bind:disabled="newItem.length === 0"
          @click="saveItem"
        >
          Add
        </button>
      </div>
      <a v-bind:href="newItem" target="_blank">Dynamic Link</a>
      <ul>
        <li
          v-for="item in reversedItems"
          :class="[item.purchased ? 'strikeout' : '', item.highPriority ? 'priority' : '']"
          @click="togglePurchased(item)"
        >
          <!-- :class="{strikeout: item.purchased}" if you use just on class you can add like this is more simple and has less text -->
          {{ item.label }}
        </li>
      </ul>
      <p v-if="items.length === 0">Nice job! You've bought all the items.</p>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      const shoppingList = new Vue({
        el: "#shopping-list",
        data: {
          state: "default",
          // code down will work with header ? header in case you want it empty header or null
          //   header: null
          header: "Shopping list App",
          newItem: "",
          items: [
            {
              label: "10 party hats",
              purchased: false,
              highPriority: false
            },
            {
              label: "2 board games",
              purchased: true,
              highPriority: false
            },
            {
              label: "20 cups",
              purchased: false,
              highPriority: true
            }
          ]
          //   items: []
        },
        computed: {
          characterCount() {
            return this.newItem.length;
          },
          reversedItems() {
            return this.items.slice(0).reverse();
          }
        },
        methods: {
          saveItem: function() {
            this.items.push({
              label: this.newItem,
              purchased: false
            });
            this.newItem = "";
          },
          changeState: function(newState) {
            this.state = newState;

            this.newItem = "";
          },
          togglePurchased: function(item) {
            item.purchased = !item.purchased;
          }
        }
      });
    </script>
  </body>
</html>
